.obsidian/workspace.json
.obsidian/workspaces.json
.obsidian/graph.json
.obsidian/workspace-mobile.json
.obsidian/plugins/update-time-on-edit/data.json
node_modules
*.nosync
.obsidian/plugins/obsidian-git/
